<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsl.wechat.mapper.DealTaskMapper">

    <update id="updateTaskState">
        update xsl_task set state = #{state} where taskId=#{taskId}
    </update>
    <update id="updateHunterTask">
        update xsl_hunter_task set taskState = #{state} where taskId=#{taskId}
    </update>
    <select id="getTaskState" resultType="com.xsl.wechat.pojo.XslTask">
        select state from xsl_task where taskId=#{taskId}
    </select>
</mapper>