<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsl.wechat.mapper.XslHunterTaskMapper">
    <insert id="updateHunterTask" parameterType="map">
          insert into xsl_hunter_task (hunterId,taskId,taskState) values (#{hunterId},#{taskId},#{taskState})
    </insert>

</mapper>