<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsl.wechat.mapper.XslTaskMapper">
    <select id="getTaskList" parameterType="map" resultType="com.xsl.wechat.pojo.XslTask">
        SELECT id,cid,taskId,taskTitle,content,sendId,money,state,createDate,updateDate
        from xsl_task where id>=1 and sourceType='weChat' and state=0 ORDER BY id LIMIT #{pageNum},#{pageSize}
    </select>
    <select id="getXslTaskTotalCount" resultType="java.lang.Integer">
        select count(*) from xsl_task
    </select>
    <select id="getCategoryNameByCid" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT name from xsl_task_category where id = #{cid}
    </select>
    <select id="getUerNameBySendId" resultType="java.lang.String">
        SELECT name from xsl_master LEFT JOIN xsl_user on xsl_master.userId = xsl_user.userId
        where xsl_master.masterId=#{sendId}
    </select>
    <select id="getImageBySendId" resultType="java.lang.String">
        SELECT url from xsl_master LEFT JOIN xsl_file on xsl_master.userId = xsl_file.fileId
        where xsl_master.masterId=#{sendId}
    </select>
    <select id="getCidByTypeName" resultType="java.lang.Integer">
        select id from xsl_task_category where name = #{name}
    </select>
    <select id="getMyTaskList" resultType="com.xsl.wechat.pojo.XslTask">
        SELECT cid,taskId,taskTitle,money,state,createDate from xsl_task WHERE sendId = #{sendId}
    </select>
    <select id="getMasterByOpenId" resultType="java.lang.String">
        SELECT userId from xsl_user WHERE masterId=#{userId}
    </select>
    <select id="getMasterIdByOpenId" resultType="java.lang.String">
        select masterId from xsl_user where userId=#{userId}
    </select>
    <select id="getHunterIdByOpenId" resultType="java.lang.String">
        select hunterId from xsl_user where userId=#{userId}
    </select>
    <select id="getMyAcceptTask" resultType="com.xsl.wechat.pojo.XslHunterTask">
        select taskId,createDate,taskState from xsl_hunter_task where hunterId = #{hunterId} and taskState !=0
    </select>
    <select id="getTaskByTasKId" resultType="com.xsl.wechat.pojo.XslTask">
        select cid,taskId,taskTitle,content,money,sendId,state,createDate from xsl_task where taskId=#{taskId}
    </select>
    <insert id="insertTask" parameterType="com.xsl.wechat.pojo.XslTask">
        INSERT INTO xsl_task (
	        cid,taskId,taskTitle,content,sendId,money,state,createDate,updateDate,sourceType)
        VALUES(#{cid},#{taskId},#{taskTitle},#{content},#{sendId},#{money},#{state},#{createDate},#{updateDate},#{sourceType})
    </insert>

    <update id="increaseTaskNum" parameterType="java.lang.String">
        UPDATE xsl_task_category SET taskNum = taskNum+1 WHERE name=#{name};
    </update>

    <update id="alterTaskState" parameterType="java.util.Map">
            update xsl_task set state =#{taskState} where taskId=#{taskId}
    </update>

</mapper>